.wrapper {
   position: relative;
   display: inline-flex;
   width: 100%;
   align-items: center;
   padding: 0;

   label  {
      position: relative;
      
      padding-left: 15px;
      margin-right: 2px;
   }
   
}