.button {
   font-size: 18px;
   text-decoration: none;
   padding: 10px 18px;
   font-weight: 500;
   background: none;
   border: 2px solid  #33ccff;
   color: #33ccff;
}
.secondary {
   @extend .button;
   background-color: #33ccff;
   color: white;
}