.wrapper {
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.wrapper h2 {
   color: aqua;
}

.wrapper_radio {
   display: inline-flex;
   width: 100%;
}
.form {
   width: 100%;
   max-width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}



