.listItem__wrapper {
   list-style: none ;  
   padding: 0;
   margin: 0 0 50px; 
   display: flex;
   align-items: center;
   padding: 50px, 30px;
}
.listItem__image {
  flex-shrink: 0;
  margin-right: 30px;
  height: 150px;
  width: 150px;
  border-radius: 50% ;
}
.listItem__name {
   color: aqua;
   font-weight: 700;
 }
 .listItem__descrition {
  margin: 10px 0 20px;
   font-weight: 300;
 }
 .istItem__button {
   font-weight: 500;
   background: none;
   border: 2px solid aqua;;
   color: aqua;
   padding: 7px 12px;
 }