@keyframes appear {
  0% {
    opacity: 0;
    top: 35px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}


.wrapper {
   padding: 0;
   margin: 0 0 50px; 
   display: flex;
   align-items: center;
   padding: 50px, 30px;
   position: relative;
   animation-name: appear;
  animation-duration: 2s;
  animation-iteration-count: ease;
}
.image {
  flex-shrink: 0;
  margin-right: 30px;
  height: 150px;
  width: 150px;
  border-radius: 50% ;
}
.imageNone {
  @extend .image;
  background: black;
}
.name {
   color: aqua;
   font-weight: 700;
   
 }
 .descrition {
  margin: 10px 0 20px;
   font-weight: 300;
 }
 .button {
  font-size: 10px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid aqua;
  color: aqua;
 }
