.wrapper{

   display: inline-flex;
   
}

.navItem{
   list-style: none;
   padding-right: 50px ;
   font-size: 26px;
   &Link {
      
      text-decoration: none;
      color:#818181;
      &Active {
         font-weight: bold;
         text-decoration: none;
         list-style: none;
         color:black;
      }
   }
}
